.grid {
    border: solid blue 1px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playgroundWidth {
    width: 800px;
    margin: 0 auto;    
}

.last {
    margin-bottom: 30px;
}

.cuculo {
    width:50px;
    height:50px;
    background-color:rosybrown;
}

h1 {
    padding:30px;
}
.branch {
    width: 70px;
    height: 70px;
    background-color: brown;
    /*position: relative;*/
    /*poi togliere da qui in poi per usare js*/
    /*-webkit-animation: mymove 5s infinite;  /*Safari 4.0 - 8.0 */
    /*-webkit-animation-timing-function: linear;*/ /*Safari 4.0 - 8.0 */
    /*animation: mymove 5s infinite;
    animation-timing-function: linear;*/
}
 /*Safari 4.0 - 8.0 
@-webkit-keyframes mymove {
    from {
        right: 0px;
    }

    to {
        right: 200px;
    }
}

@keyframes mymove {
    from {
        right: -80px;
    }

    to {
        right: 800px;
    }*/
