body {
overflow:hidden;
}


#main {
    border: solid grey 1px;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position:relative;
}

.playgroundWidth {
    width: 800px;
    margin: 0 auto;
}


.cuculo {
    width: 100px;
    height: 100px;
    background-image: url("../img/cuculoColor100.png");
    //background-color: rosybrown;
    position: absolute;
    /*left: 50px;
    margin: 5px;*/
    display: block;
}

h1 {
    padding: 30px;
}


.branch {
    width: 100px;
    height: 100px;
    background-image: url("../img/RamoColore100.png");
    //background-color: brown;
    position: absolute;
}

.wrapper {
    overflow: hidden;

}

.sliding-background {
    background: url("../img/repeatedBG1200x500.jpg");
    background-repeat: repeat-x;
    height: 500px;
    width: 900px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(300px);
    }
}

